.TLDR {
    background-color: #fff8fe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    transform: rotate(-10deg);
    position: fixed;
    margin-top: 30px;
    margin-left: -300px;
}
.contact {
    position: fixed;
    margin-top: -150px;
    margin-left: -300px;
}
.phone {
    position: fixed;
    margin-top: 250px;
    margin-left: 30px; /* Adjust as needed */
}