.TLDR {
    background-color: #fff8fe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    transform: rotate(-10deg);
    position: fixed;
    margin-top: 30px;
    margin-left: -700px; 
}
.contact {
    position: fixed;
    margin-top: 200px;
    margin-left: -500px;
}
